// Visibility
.hide
  display none !important


// Buttons
.buttons
  display inline-block
  float right
  text-align left

.right
  margin-top 2px
  float right
  text-align left

.ui.input.bot
  vertical-align bottom

.ui.tiny.narrow
  padding-left 8px
  padding-right 5px


// Icons
.social
  button
    i.icon
      color white
      text-shadow 1px 1px 0px #000, 2px 2px 5px #555


// Editors
#sub-editor-def-container
  margin-bottom 1em

  i
    margin 4px 0px

#sub-editor-def
  user-select none

// #sub-editor-def
//   display inline-flex

#sub-editor-exp-contaner
  width 100%
  margin-top 0.875em

#sub-editor-exp
  min-heiht 5em
  padding 1em 1em 3em 1em
  outline none
  border none
  box-shadow none
  resize none
  line-height 1.4285em
  font-family Lato, Helvetica Neue, Arial, Helvetica, sans-serif

.sub-editor-hover
  border 1px solid lightblue
  box-shadow 0 0 3px blue, 1px 1px 4px #ccc, -1px 0px 4px #ddd, 0px -1px 2px #ddd !important

#sub-editor-footer
  height 40px
  width 100%
  background-color #eee
  border-top 1px solid #ccc

  .social
    display inline-block
    margin 3px 0 0 8px

  button.button
    margin-top 4px
    margin-right 4px

.wgt-title
  display inline-block
  margin 0px
  margin-top 3px !important
  padding 2px 0 8px 0
  font-size 1.25em
  font-weight normal
  color #aaa
  user-select none
    
// Unused
// .ui.expanded.input
//   background-color none