#sb
  z-index 101
  top -10px
  padding-top 10px
  background-color #555
  border 1px solid #444
  box-shadow -2px 0 3px #333

#sb-panel
  z-index 99
  position fixed
  padding-right 51px
  background-color #ccc
  border 1px solid #bbb
  box-shadow -3px 0px 12px #aaa

.ui.super.wide.sidebar
  width 480px
  transition width .5s

.ui.super.thin.sidebar
  width 0px
  transition width .5s