@import "modules/themes/colors.import.styl"

#content
  position fixed
  top 30px
  height auto
  width calc(100% - 50px)
  padding-top 10px
  margin auto
  overflow hidden

#c1
#c2
#c3
  width 32%
  padding .5rem

.r1
.r2
.r3
  margin-bottom 1.5em