<template name="content">

	<div id="content" class="ui centered grid">

		<div id="c1" class="column">
			<div class="row r1">
				<div class="ui one cards">
					<div class="centered card z1">
						<div class="content">
							<div class="header">Elliot Fu</div>
							<div class="meta">Friend</div>
							<div class="description">
								Elliot Fu is a film-maker from New York.
							</div>
						</div>
					</div>
				</div>
				<div class="ui one cards">
					<div class="centered card z1">
						<div class="content">
							<div class="header">Elliot Fu</div>
							<div class="meta">Friend</div>
							<div class="description">
								Elliot Fu is a film-maker from New York.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row r2">
				<div class="ui one cards">
					<div class="centered card z1">
						<div class="content">
							<div class="header">Elliot Fu</div>
							<div class="meta">Friend</div>
							<div class="description">
								Elliot Fu is a film-maker from New York.
							</div>
						</div>
					</div>
				</div>
				<div class="ui one cards">
					<div class="centered card z1">
						<div class="content">
							<div class="header">Elliot Fu</div>
							<div class="meta">Friend</div>
							<div class="description">
								Elliot Fu is a film-maker from New York.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row r3">
				<div class="ui one cards">
					<div class="centered card z1">
						<div class="content">
							<div class="header">Elliot Fu</div>
							<div class="meta">Friend</div>
							<div class="description">
								Elliot Fu is a film-maker from New York.
							</div>
						</div>
					</div>
				</div>
				<div class="ui one cards">
					<div class="centered card z1">
						<div class="content">
							<div class="header">Elliot Fu</div>
							<div class="meta">Friend</div>
							<div class="description">
								Elliot Fu is a film-maker from New York.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="c2" class="column">
			{{> subscriptions}}
		</div>

		<div id="c3" class="column">
			<div class="row r1">
				<div class="ui one cards">
					<div class="centered card z1">
						<div class="content">
							<div class="header">Elliot Fu</div>
							<div class="meta">Friend</div>
							<div class="description">
								Elliot Fu is a film-maker from New York.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
</template>
